[LoginLdap]
serverUrl = "{{ settings.ldap.server }}"
baseDn = "{{ settings.ldap.basedn }}"
userIdField = "uid"
mailField = "mail"
aliasField = "cn"
usernameSuffix = ""
adminUser = "{{ settings.ldap.user }}"
adminPass = "{{ settings.ldap.pass }}"
memberOf = ""
filter = "{{ settings.ldap.filter }}"
kerberos = 0
