# Piwik alias
<IfModule mod_alias.c>
    Alias /piwik {{ piwik.settings.locations.dest }}
</IfModule>

<Directory {{ piwik.settings.locations.dest }}>
	Order Deny,Allow 
	Deny from All 
  {% if piwik.settings.ip_range is defined %}
	Allow from {{ piwik.settings.ip_range }}
  Require ip {{ piwik.settings.ip_range }}
  {% else %}
  Allow from All
  {% if ansible_distribution in [ 'CentOS', 'RedHat', 'Fedora' ] %}
  Require all granted
  {% endif %}
  {% endif %}
	<Files "piwik.php"> 
	     Order Deny,Allow 
	     Allow from All 
	</Files>

        <Files "piwik.js">
             Order Deny,Allow
             Allow from All
        </Files>
</Directory>
