# Piwik alias
<IfModule mod_alias.c>
    Alias /piwik {{ piwik.locations.dest }}
</IfModule>

<Directory {{ piwik.locations.dest }}>
	Order Deny,Allow 
	Deny from All 
	Allow from {{ settings.piwik.ip_range }}
 
	<Files "piwik.php"> 
	     Order Deny,Allow 
	     Allow from All 
	</Files>

        <Files "piwik.js">
             Order Deny,Allow
             Allow from All
        </Files>
</Directory>
